<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Listing">

	<!-- 根据标识Key 获取子级列表 -->
	<select id="getChildListingBySignList" resultType ="com.qmd.mode.util.Listing"  parameterType = "string" >
		select * from fy_listing where is_enabled=1 and parent_id =(select id from fy_listing where sign = #{sign} ) order by order_list asc
	</select>
	
	<!--  根据父级sign 和子级keyValue查询子级name -->
	<select id="findChildListingByKeyValue" resultType="string" parameterType="java.util.Map">
		select name from fy_listing where key_value=#{keyValue} and is_enabled=1 and parent_id = (select id from fy_listing where sign=#{sign})	
	</select>
	
	
	<!--  根据子sign 查询父级name -->
	<select id="findListingByKeyValue" resultType="string" parameterType="string">
		select name from fy_listing where is_enabled=1 and id = (select parent_id  from fy_listing where key_value=#{keyValue})	
	</select>
	
	<!--  根据父级sign 和子级keyValue查询子级name -->
	<select id="findChildListingBySing" resultType="com.qmd.mode.util.Listing" parameterType="java.util.Map">
		select * from fy_listing where is_enabled=1 and parent_id in 
		(select id from fy_listing where sign in 
			<foreach item="item" index="index" collection="array"
	      			open="(" separator="," close=")">
	       	 		#{item}
	  		</foreach>)	
	</select>
	
	<!-- 查询首页图片滚动 -->
	<select id="findScrollpicList" resultType="com.qmd.mode.util.Scrollpic"  parameterType="java.util.Map">
		select * from fy_scrollpic where is_visible = 1 
		<if test="type != null "> and type = #{type} </if>      
		order by order_list asc
	</select>
	<!-- 根据ID查询Listing对象 -->
	<select id="getListing" resultType ="com.qmd.mode.util.Listing" parameterType = "java.lang.Integer">
		select * from fy_listing where id=#{id}
	</select>
	<!-- 根据ID查询Listing对象 -->
	<select id="getListingBysign" resultType ="com.qmd.mode.util.Listing" parameterType = "string">
		select * from fy_listing where sign=#{sign}
	</select>
	<!-- 根据map查询Listing对象 -->
	<select id="getObjecListing" resultType ="com.qmd.mode.util.Listing" parameterType = "java.util.Map">
		select * from fy_listing where 1 = 1
		<if test="listingId != null "> and id = #{listingId} </if> 
		<if test="sign != null "> and sign like '%${sign}%'</if> 
		<if test="description != null "> and description = #{description} </if> 
		<if test="keyValue != null "> and key_value = #{keyValue} </if> 
		<if test="name != null "> and name = #{name} </if>
	</select>
	
	<!-- 根据sign 查询key_value对象 -->
	<select id="getKeyValue" resultType ="string" parameterType = "string">
		select key_value from fy_listing where sign = #{sign}
	</select>
	
	<!-- 查询基本参数配置 -->
	<select id="getSetting" resultType ="com.qmd.mode.util.Setting">
		select * from fy_setting where id = 1
	</select>
	
	<!-- 查询系统红包设置 -->
	<select id="getHongbao" resultType ="com.qmd.mode.util.Hongbao">
		select * from fy_hongbao where type = #{type}
	</select>
	
		<!-- 首页3个实时数据 +用户中心统计数据 --> 
	<select id="selectSumHomeData" resultType ="string" parameterType = "java.util.Map">
		<if test="key ==1 "> 
		select count(id) from fy_user;
		</if> 
		<if test="key ==2 ">
		 SELECT ifnull(sum(account),0) FROM fy_borrow_detail;
		 </if> 
		<if test="key ==3 "> 
		<!--  SELECT round(ifnull(sum(interest),0),0) FROM fy_borrow_detail;-->
		SELECT round(ifnull(sum(interest),0),0)  FROM fy_user_repayment_detail where status=1;
		</if>
		<if test="key ==10 ">
		 select ifnull(sum(total),0) from fy_account_cash a where a.user_id =#{userId} and status=0;
		</if> 
		
		<if test="key ==4 ">
		 SELECT ifnull(count(*),0) FROM fy_borrow_detail bd, fy_borrow b where bd.borrow_id=b.id and b.status=3 and bd.user_id=#{userId};
		 </if> 
		 <if test="key ==5 ">
			select count(id) from fy_user_hongbao where status=0 and user_id=#{userId};
		 </if> 
		 <if test="key ==6 ">
			select count(id) from fy_user_account_detail where is_look=0   and user_id=#{userId} 
			and type in('recharge', 'invest', 'award_add', 'invest_repayment', 'recharge_success', 'interest_repayment', 'recharge_offline',' offline_reward',' award_continued',' recharge_offline_reward',' money_log_friend_name_email_tender_award',' money_log_email_award',' money_log_realidentify_all', 'money_log_register_award',' tui_detail_award',' money_for_bonus',' offline_reward_hong_bao',' award_toubiao',' taste_sub',' taste_add',' first_recharge_taste') ;
		 </if>
		 <if test="key ==7 ">
			select count(id) from fy_user_award_detail where is_look=0   and user_id=#{userId} and type in('tui_detail_award','tui_detail_award_ht');
		 </if>
	</select>
	
</mapper>