
body, html {
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 0;
}
img {
    border: medium none;
}
h1, h2, h3, h4, h5, h6, hr, blockquote, form, ul, ol, li, p, pre, dl, dt, dd, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
ul, ol, li {
    list-style: none outside none;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
legend {
    color: #000000;
}
fieldset {
    border: 0 none;
}
button, input, select, textarea {
    font-size: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
    overflow: hidden;
}
.left {
    float: left;
}
.right {
    float: right;
}
.hr_10 {
    clear: both;
    font-size: 1px;
    height: 10px;
    line-height: 1px;
    overflow: hidden;
}
body, button, input, select, textarea {
    color: #000000;
    font-family: "ו";
    font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
address, cite, dfn, em, var {
    font-style: normal;
}
code, kbd, pre, samp {
    font-family: courier new,courier,monospace;
}
.bold {
    font-weight: bold;
}
a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #CC0000;
    text-decoration: underline;
}
a, area {
}
:focus {
}
.topMargin5 {
    margin-top: 5px;
}
.topMargin10 {
    margin-top: 10px;
}
.topMargin15 {
    margin-top: 15px;
}
.topMargin20 {
    margin-top: 20px;
}
.leftMargin5 {
    margin-left: 5px;
}
.leftMargin10 {
    margin-left: 10px;
}
.wrapper {clear:both;
   padding-bottom:20px;
    border-bottom: 1px solid #999999;
    margin: 0px auto 10px;
    width: 800px;
}
.login {
    background-color: #FAFAFA;
    border: 1px solid #D1D1D1;
    float: left;
    height: 312px;
    margin-top: 30px;
    width: 312px;
}
.tag {
    border-bottom: 1px solid #2380D0;
    height: 26px;
    line-height: 26px;
    width: 312px;
}
.tag li {
    background: url("../img/tag2.jpg") repeat-x scroll left top transparent;
    color: #656565;
    cursor: pointer;
    float: left;
    height: 26px;
    line-height: 26px;
    text-align: center;
    width: 156px;
}
.tag li.on {
    background: url("../img/tag1.jpg") no-repeat scroll left top transparent;
    color: #FFFFFF;
    float: left;
    height: 26px;
    line-height: 26px;
    text-align: center;
    width: 156px;
}
.user_infor {
    padding: 10px 30px;
    width: 252px;
}
.tips {
    background: url("../img/shurubg0316.jpg") no-repeat scroll 10px 0 #FFF6F7;
    border: 1px solid #CC9998;
    clear: both;
    color: #A10000;
    display: block;
    line-height: 16px;
    margin-left: 48px;
    min-height: 16px;
    text-indent: 30px;
    visibility: hidden;
    width: 200px;
}
.user_infor p {
    padding: 2px 0;
}
.user_infor p label {
    color: #656565;
}
.user_infor p input {
    border: 1px solid #A5AFC3;
    color: #999999;
    height: 19px;
    line-height: 19px;
    text-indent: 5px;
    vertical-align: middle;
    width: 200px;
}
.bt {
    padding: 2px 0 15px 48px;
}
.bt a.log {
    background: url("../img/submit.jpg") no-repeat scroll center center transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    height: 27px;
    line-height: 27px;
    margin-right: 5px;
    text-align: center;
    width: 97px;
}
.bt a.loading {
    background: url("..img/bt2.jpg") no-repeat scroll center center transparent;
    color: #656565;
    display: block;
    float: left;
    height: 27px;
    line-height: 27px;
    margin-right: 5px;
    padding-top: 0;
    text-align: center;
    width: 97px;
}
.bt a.loading img {
    vertical-align: middle;
}
.bt a.log:hover {
    font-weight: 700;
    text-decoration: none;
}
.bt a.forget {
    display: inline;
    line-height: 30px;
}
.tishi {
    color: #656565;
    line-height: 24px;
}
.tishi span {
    color: #A10000;
}
.tishi a:link, .tishi a:visited {
    background: url("../img/regrest.gif") no-repeat scroll center center transparent;
    color: #FFFFFF;
    display: inline-block;
    height: 19px;
    line-height: 19px;
    margin-left: 5px;
    text-align: center;
    width: 61px;
}
.tishi a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
.advert {
    float: right;
	margin-top:28px;
    height: auto;
    width: auto;
}
.user_infor p input.inputtextcolor {
    color: #000000;
}
#Head {width:800px;
border-bottom:1px solid #7A7F89;
    margin-top: 15px;overflow:hidden;
	padding-bottom:12px;
}
.bZp3{margin:20px 0;}

