<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AccountCash">
	<!-- 插入提现信息值 -->
	<insert id="save" parameterType="com.qmd.mode.user.AccountCash" useGeneratedKeys="true" keyProperty="id" >
		insert into fy_account_cash(
								user_id,
								status,
								account,
								bank,
								branch,
								total,
								credited,
								fee,
								addip,
								create_date,
								modify_date,
								able_cash_money,
								free_cash_money
							) values (
								#{userId},
								#{status},
								#{account},
								#{bank},
								#{branch},
								#{total},
								#{credited},
								#{fee},
								#{addip},
								now(),
								now(),
								#{ableCashMoney},
								#{freeCashMoney}
							)
	</insert>
	<!-- 查询提现记录数量 -->
		<select id="queryAccountCashListCount" resultType ="java.lang.Integer" parameterType = "java.util.Map">
		select 
		count(*) 
		from 
		fy_account_cash a
		where  1=1
		<include refid="queryBy"/>
	</select>
	
	<!-- 查询提现记录集合 -->
	<select id="queryAccountCashList" resultType ="com.qmd.mode.user.AccountCash" parameterType = "java.util.Map">
		select a.*, 
		(select l.name from fy_listing l where a.bank =l.key_value and l.parent_id=25) name
		from fy_account_cash a where 1=1
		<include refid="queryBy"/>
		order by a.create_date desc
		limit #{start},#{end}
	</select>
	<sql id="queryBy">
		<if test="userId ">
	    	and a.user_id = #{userId}
		</if>
		<if test="cashStatus!=null ">
	    	and a.status = #{cashStatus}
		</if>
		<if test="minDate!=null and maxDate!=null">
	    	and (a.create_date between #{minDate} and #{maxDate})
		</if>
		<if test="borrowid ">
	    	and a.borrowid = #{borrowid}
		</if>
		<if test="agencyUserid ">
	    	and a.agency_userid = #{agencyUserid}
		</if>
	</sql>
	
	<!-- 按状态查询所以提现记录集合 -->
	<select id="accountCashList" resultType ="com.qmd.mode.user.AccountCash" parameterType = "java.util.Map">
		select * from fy_account_cash  where 1=1
		<include refid="queryBy_cash"/>
	</select>
	<sql id="queryBy_cash">
		
		<if test="userId !=null">
	    	and user_id = #{userId}
		</if>
		<if test="backDate!=null" >
	    	and (create_date &lt; #{backDate})
		</if>
			<if test="array != null">
			and status in 
			<foreach item="item" index="index" collection="array"
      			open="(" separator="," close=")">
       	 		#{item}
  			</foreach>
		</if>
		<if test="beginDate!=null and endDate!=null">
	    	and (create_date between #{beginDate} and #{endDate})
		</if>
		<if test="firstDate!=null and lastDate!=null">
	    	and (modify_date between #{firstDate} and #{lastDate})
		</if>
		<if test="backDate!=null" >
	    	and (create_date &lt; #{backDate})
		</if>
		
		<if test="borrowid !=null">
	    	and borrowid = #{borrowid}
		</if>
		<if test="agencyUserid !=null">
	    	and agency_userid = #{agencyUserid}
		</if>
	</sql>
	<select id="get" resultType="com.qmd.mode.user.AccountCash" parameterType="java.lang.Integer">
		select a.*,
			b.name as bname,
			b.business_code,
			b.business_type as type,
			u.username,
			u.real_name,
			b.account_yes as jkTotal
		from fy_account_cash a 
			left join fy_borrow b on a.borrowid = b.id
			left join fy_user u on a.user_id = u.id
		 where a.id=#{id}
	</select>
	
	<update id="update" parameterType="com.qmd.mode.user.AccountCash">
		update  fy_account_cash  
		set
		 user_id = #{userId}
		<if test ="status != null and status != ''"> ,status = #{status}</if>
		<if test ="account != null and account != ''"> ,account = #{account}</if>
		<if test ="bank != null and bank != ''"> ,bank = #{bank}</if>
		<if test ="branch != null and branch != ''"> ,branch = #{branch}</if>
		<if test ="total != null and total != ''"> ,total = #{total}</if>
		<if test ="credited != null and credited != ''"> ,credited = #{credited}</if>
		<if test ="fee != null and fee != ''"> ,fee = #{fee}</if>
		<if test ="addip != null and addip != ''"> ,addip = #{addip}</if>
		,modify_date = now()
		 where id = #{id}
	</update>
	
	
	
	
	
	
	
	<select id="queryListByMap" resultType="com.qmd.mode.user.AccountCash" parameterType="java.util.Map">
		select 
			a.*,
			b.name as bname,
			b.business_code,
			b.business_type as type,
			u.username,
			u.real_name,
			b.account_yes as jkTotal
		from fy_account_cash a 
			left join fy_borrow b on a.borrowid = b.id
			left join fy_user u on a.user_id = u.id
		<include refid="queryWhere"/>
		<include refid="queryOrder"/>
		<include refid="queryLimit"/>
	</select>

	<select id="queryCountByMap" resultType="java.lang.Integer" parameterType="java.util.Map">
		select 
			count(*) 
		from 
			fy_account_cash a 	
		<include refid="queryWhere"/>
	</select>

	<sql id="queryWhere">
		<where>
			
		<if test="userId !=null">
	    	and a.user_id = #{userId}
		</if>
		<if test="backDate!=null" >
	    	and (a.create_date &lt; #{backDate})
		</if>
			<if test="array != null">
			and a.status in 
			<foreach item="item" index="index" collection="array"
      			open="(" separator="," close=")">
       	 		#{item}
  			</foreach>
		</if>
		<if test="beginDate!=null and endDate!=null">
	    	and (a.create_date between #{beginDate} and #{endDate})
		</if>
		<if test="firstDate!=null and lastDate!=null">
	    	and (a.modify_date between #{firstDate} and #{lastDate})
		</if>
		<if test="backDate!=null" >
	    	and (a.create_date &lt; #{backDate})
		</if>
		
		<if test="borrowid !=null">
	    	and a.borrowid = #{borrowid}
		</if>
		<if test="agencyUserid !=null">
	    	and a.agency_userid = #{agencyUserid}
		</if>
		</where> 
	</sql>

	<sql id="queryOrder">
		<if test="orderBy != null and orderBy != '' ">
			ORDER BY ${orderBy}
		</if>
	</sql>

	<sql id="queryLimit">
		<if test="pageStart != null and pageSize != null">
			limit #{pageStart},#{pageSize}
		</if>
	</sql>
	
	
	
	
	<select id="getForUpdate" resultType ="com.qmd.mode.user.AccountCash" parameterType = "java.lang.Integer">
		select * from fy_account_cash where id = #{id} for update
	</select>
	
	<!-- 查询用户已放款总额  -->
	<select id="selectAllTotalMoney" resultType ="double" parameterType = "java.util.Map">
		select
			 sum(total) 
		from 
			fy_account_cash
	    where 
	    	status = 1 
	    	<if test="borrowId != null and borrowId !=''">
	    		and borrowid=#{borrowId}
	    	</if>
			<if test="agencyUserid != null and agencyUserid !=''">
				and agency_userid = #{agencyUserid}
			</if>
	</select>
	
	<select id="selectMoneySumCashing" resultType ="double" parameterType = "java.util.Map">
		select
			 ifnull(sum(total),0) 
		from 
			fy_account_cash t
	    where 
	    	status = 0 
	    	<![CDATA[and t.create_date >= #{startTime}]]>
			<![CDATA[and t.create_date <= #{endTime}]]>
	</select>
	<select id="selectMoneySumCashed" resultType ="double" parameterType = "java.util.Map">
		select
			 ifnull(sum(total),0) 
		from 
			fy_account_cash t
	    where 
	    	status = 1
	    	<![CDATA[and t.verify_time >= #{startTime}]]>
			<![CDATA[and t.verify_time <= #{endTime}]]>
	</select>
	
	
</mapper>