<div class="P20">
	<div class="tenderbox" style="text-align:center;">
		<p style=" font-size:14px; color:#535252; font-weight:bold; background:url(/static/img/11_bg.png) no-repeat 0 top; padding-left:25px; padding-top:10px; background-color:#f2f1f0;">
			*利率和份数，请按照从小到大排列。
		</p>
		<table width="90%" cellpadding="0" cellspacing="0"  class="user_table" style="margin:auto;">
			<tr>
               	<th class="kaqu_r6">序号</th> 
                <th class="kaqu_r6">天利率</th> 
               	<th class="kaqu_r6">年化利率</th> 
               	<th class="kaqu_r6">起投份数</th> 
          	</tr>
          	<tbody id="tbodyRateStep">
				
			</tbody>
          	<tr>
          		<td style="text-align:center;" colspan="4">
          			<input type = "button" onclick="backRateStep();" class = "btn1 white" href="javascript:void(0);" value = "确定"></a>
          			<input class="btn2 ml_15" type="button"onclick="KP.close(); return false;"  value="关闭"></td>
          	</tr>	
						
		</table>
		
	</div>
</div>
