/*清除浮动*/
.clearfix:after{
    display:block;
    visibility:hidden;
    content:".";
    height:0;
    clear:both;
}
/*主内容区*/
#content{
    *padding-top:1px;
}
/*banner区*/
#content .bannerArea {
    position: absolute; 
    top: 135px;
    left: 0;
    width: 100%;
    height: 500px;
    overflow: hidden;
    z-index: 2;
}

#content .bannerArea > span {
    display: none;
    width: 54px;
    height: 58px;
    position: absolute;
    top: 250px;
    /*visibility: hidden;*/
    z-index:1000;
    cursor: pointer;
}
#content .bannerArea > span.left {
   background: url("../img/main_left.png") no-repeat;
   left: 0;
}
#content .bannerArea > span.right {
    background: url("../img/main_right.png") no-repeat;
    right: 0;
}

#content .bannerArea .banner {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

#content .bannerArea .banner li {
    position: absolute;
    width: 1920px;
    left: 50%;
    margin-left: -960px;
    height: 500px;
    cursor: pointer;
    z-index: 2;
}
#content .bannerArea .banner li img {
	/* width: 100%;
	height: 100%;
	min-width: 1200px; */
}

#content .bannerArea .dot {
    position: absolute;
    width: 100%;
	margin: 0 auto;
    bottom: 30px;
    z-index: 999;
    text-align: center;
}

#content .bannerArea .dot .dotList {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: url(../img/gray_circle.png);
    margin: 0 25px;
    cursor: pointer;
    z-index: 999;
}

#content .bannerArea .dot .active1 {
    background: url(../img/red_circle2.png);
}


/*注册登录模块*/
#content .loginArea{
    margin-top:85px;
    width: 342px;
    position: absolute;
    left: 50%;
    margin-left: 268px;
    top: 96px;
    z-index: 3;
}
#content .register {
    position: absolute;
    right: 8px;
    overflow: hidden;
    text-align: center;
    z-index: 999;
    padding:40px 0;
    width: 342px;
    height: 344px;
    color:#fff;
    background:url("../img/login-bg.png") no-repeat;
    background-size:100% 100%;
}
#content .register .money{
    font-size:24px;
    font-weight:bold;
}
#content .register .money span{color:#eae36c;}
#content .register .name{
    font-size:18px;
    line-height:40px;
}
#content .register .percent{
    font-size:28px;
    font-weight:bold;
    color:#eae36c;
}
#content .register .line{
    display:inline-block;
    margin:20px 0;
    width:274px;
    border-bottom:1px solid rgba(255,255,255,.27);
}
#content .register .word{
    font-size:20px;
}
#content .register .word span{color:#e63f3f}

#content .register .regiBtn {
    display: inline-block;
    width: 237px;
    height: 48px;
    line-height: 48px;
    background: #ef4044;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius:8px;
    margin:30px 0 20px;
}

#content .register .login p {
    color: #ffffff;
    font-size: 14px;
}


/*网站信息区*/

#content .introduce {
    width: 100%;
    padding:40px 0;
    overflow: hidden;
    background: #fbfbfb;
    position: relative;
    margin-top: 500px;
}

#content .intro_1,
.intro_2 {
    width: 1200px;
    margin: 0 auto;
}

#content .intro_1 {
    position: relative;
    font-size:0;
}

#content .intro_1 li {
    width: 25%;
    float: left;
}
#content .intro_1 li > div{
    width: 100%;
    padding: 10px 0;
    height: 66px;
    border-left: 1px dashed #e4e4e4;
}
#content .intro_1 li .div_4{border-right: 1px dashed #e4e4e4}
#content .intro_1 li i{
    float:left;
    display:inline-block;
    margin-left:40px;
    width:67px;
    height:67px;
    vertical-align:top;
    background:url('../img/menu-icon.png') no-repeat;
}
#content .intro_1 li .div_1 i{background-position:0 0}
#content .intro_1 li .div_2 i{background-position:-67px 0}
#content .intro_1 li .div_3 i{background-position:-134px 0}
#content .intro_1 li .div_4 i{background-position:-201px 0}
#content .intro_1 li > div p{padding-left:116px}
#content .intro_1 li > div p.title {
    font-size:18px;
    color: #ff5363;
    line-height:35px;
}
#content .intro_1 li > div p.detail {
    font-size:12px;
    color: #999;
}

#content .conWrap {
    margin-top: 10px;
    width: 100%;
    height: 930px;
}


/*新手福利*/

#content .noviceArea {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height:250px;
    overflow: hidden;
    background: #fff;
}

#content .noviceArea .noviceImg_1 {
    float: left;
}

#content .noviceArea .leftImg .noviceWord_1 {
    position: absolute;
    top: 65px;
    left: 45px;
    width: 190px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    font-size: 32px;
}

#content .noviceArea .leftImg .noviceWord_2 {
    position: absolute;
    top: 125px;
    left: 66px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

#content .noviceArea .rightImg {
    float: right;
    background: url("../img/novice_2.png") no-repeat right;
}

#content .noviceArea .rightImg div {
    width: 283px;
    height: 248px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#content .noviceArea .rightImg .p1 {
    font-size: 22px;
    position: absolute;
    top: 50px;
    left: 110px;
    color: #fff;
}

#content .noviceArea .rightImg .p2 {
    font-size: 24px;
    position: absolute;
    left: 70px;
    top: 100px;
    color: #fff;
}

#content .noviceArea .rightImg .detailBtn {
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    position: absolute;
    bottom: 65px;
    left: 90px;
}

#content .noviceArea .noviceInfo {
    display: inline-block;
    width: 573px;
    overflow: hidden;
    *float:left;
}

#content .noviceArea .noviceInfo .noviceTitle p {
    margin: 25px 20px 30px 35px;
    display: inline-block;
    font-size: 16px;
    color: #333;
    *float:left;
}
#content .noviceArea .none-list{
    font-size:20px;
    color:#999;
    text-align:center;
    line-height:250px;
}
#content .noviceArea .noviceInfo .noviceTitle span {
    font-size: 14px;
    color: #787878;
    display: inline-block;
    *margin-top:45px;
}

#content .noviceArea .noviceInfo .invest {
    height: 95px;
    *clear:both;
}

#content .noviceArea .noviceInfo .invest li {
    width: 33.3%;
    height: 95px;
    float: left;
    text-align: center;
}

#content .noviceArea .noviceInfo .invest .jiaxi {
    color: #fff;
    width: 85px;
    height: 30px;
    line-height: 30px;
    background: url("../img/jiaxi_bg.png") no-repeat center center;
    position: absolute;
    top: 86px;
    left: 36%;
}

#content .noviceArea .noviceInfo .invest li p.rate {
    color: #ef3e44;
    font-size: 28px;
}

#content .noviceArea .noviceInfo .invest li p {
    font-size: 28px;
    margin-bottom: 30px;
    color: #333;
}

#content .noviceArea .noviceInfo .invest li span {
    font-size: 16px;
    color: #a6a6a6;
}

#content .noviceArea .noviceInfo .progress {
    width: 355px;
    height: 3px;
    background: #b3b3b3;
    margin-top: 40px;
    margin-left: 45px;
    border-radius: 10px;
    display: inline-block;
    *float:left;
}

#content .noviceArea .noviceInfo .progress .progressY {
    width: 50%;
    height: 3px;
    background: #ef3e44;
    border-radius: 10px;
}

#content .noviceArea .noviceInfo .toubiaoBtn {
    display: inline-block;
    width: 116px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    background: url("../img/button_border.png") no-repeat center center;
   /*  border: 1px solid #ef3e44; */
    color: #ef3e44;
    margin-left: 30px;
    *margin-top:15px;
    -webkit-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}
#content .noviceArea .noviceInfo .toubiaoBtn:hover {
   background: url("../img/button_red.png") no-repeat center center;
    color: #ffffff;
    -webkit-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}


/*热门推荐*/


#content .conWrap .hotTuiJian .ltArea .investType{
    margin:0 auto;
    padding:30px 0;
    width:540px;
}
#content .conWrap .hotTuiJian .ltArea .investType li {
    float: left;
    width: 180px;
    height:40px;
    text-align: center;
    cursor: pointer;
}
#content .conWrap .hotTuiJian .ltArea .investType li p{
    font-size: 18px;
    color: #666;
}
#content .conWrap .hotTuiJian .ltArea .investType li span{
    display:none;
    margin-top:5px;
    width:50px;
    vertical-align:top;
    border-bottom:2px solid red;
}
#content .conWrap .hotTuiJian .investType li.active2 p {
    font-size:22px;
    color: #333;
}
#content .conWrap .hotTuiJian .investType li.active2 span{display:inline-block}
#content .conWrap .hotTuiJian .gtArea ul li {
    float: left;
    padding-bottom:40px;
    width: 274px;
    background-color:#fff;
    border: 1px solid #e5e5e5;
    margin-left:16px;
    text-align: center;
   -webkit-transition: all 0.5s;
   -o-transition: all 0.5s;
   transition: all 0.5s;

}

#content .conWrap .hotTuiJian .gtArea ul li:hover {
    box-shadow: 0 0 20px #ccc;
    margin-top: 64px\9;
    border-color:#ff3c4a;
    -webkit-transition: all 0.5s;
   	-o-transition: all 0.5s;
   	transition: all 0.5s;
}
#content .conWrap .hotTuiJian .gtArea ul li:hover .btn{
    color:#fff;
    background:#ff3c4a;
}

#content .conWrap li .title {
    font-size: 16px;
    color: #333;
    margin-top: 35px;
    margin-bottom: 10px;
    height:54px;
}
#content .conWrap .no-data{
    font-size:16px;
    color:#999;
    text-align:center;
    line-height:460px;
}
#content .conWrap li .Profit {
    text-align: center;
}
#content .conWrap li .Profit p {
    color: #787878;
    font-size: 14px;
    margin-bottom: 20px;
}

#content .conWrap li .Profit span {
    font-size: 30px;
    color: #ef3e44;
    font-family: "Microsoft YaHei", serif,sans-serif,monospace;
}
#content .conWrap li .limit {
    margin-top: 15px;
}
#content .conWrap li.extra .Profit span.jiaxi{
    width: 85px;
    height: 28px;
    display: inline-block;
    line-height: 30px;
    font-size: 14px;
    background: url("../img/jiaxi_bg.png") no-repeat center;
    color: #fff;
    vertical-align: text-bottom;
    /**left:60px;*/
}

#content .conWrap li .limit p {
    width: 48%;
    padding: 5px 0;
    text-align: center;
    color: #787878;
    font-size: 14px;
    display: inline-block;
    line-height: 1.5;
}

#content .conWrap li .limit span {
    color: #333;
    font-size: 18px;
}

#content .conWrap li .limit .term {
    border-right: 1px solid #dddddd;
    *float:left;
}

#content .conWrap li .progress {
    width: 215px;
    height: 3px;
    background: #b3b3b3;
    margin: 35px 0 25px 30px;
    border-radius: 10px;
}

#content .conWrap li .progress .progressY {
    width: 65%;
    height: 3px;
    background: #ef3e44;
    border-radius: 10px;
}

#content .conWrap li .result p {
    color: #666666;
    font-size: 14px;
}

#content .conWrap li .result p span {
    color: #ef3e44;
}

#content .conWrap li .result p .progressNum {
    margin-right: 30px;
}

#content .conWrap li .toubiaoBtn {
    display: block;
    width: 116px;
    height: 34px;
    margin: 0 auto;
    text-align: center;
    line-height: 34px;
    box-sizing: border-box;
    font-size: 14px;
    background: url("../img/button_border.png") no-repeat center center;
    color: #ef3e44;
    margin-top: 40px;
    -webkit-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}
#content .conWrap li .toubiaoBtn:hover{
    background: url("../img/button_red.png") no-repeat center center;
    color:#fff;
    -webkit-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}
.index-title{
    padding-top:15px;
    font-size:22px;
    color:#333;
    text-align:center;
}
.index-title span{
    display:inline-block;
    margin-top:5px;
    width:50px;
    vertical-align: top;
    border-bottom:2px solid red;
}

/*热门推荐*/
#content .hotTuiJian{
    margin:0 auto;
    width:1200px;
}
#content .conWrap li .time{
    padding:15px 0;
    font-size:14px;
}
#content .conWrap li .time i{
    display:inline-block;
    margin-right:10px;
    width:25px;
    height:25px;
    vertical-align:top;
    background:url("../img/clock.png") no-repeat;
}
#content .conWrap li .name{color:#666}
#content .conWrap li .name i{
    display:inline-block;
    margin-right:5px;
    width:13px;
    height:17px;
    vertical-align:middle;
    background:url("../img/pred_07.png") no-repeat;
}
#content .conWrap li .percent{
    padding:50px 0;
}
#content .conWrap li .percent .num{
    font-size:40px;
    color:red;
 }
#content .conWrap li .percent .text{
    font-size:16px;
    color:#666;
}
#content .conWrap li .btn{
    display:block;
    margin-top:20px;
    font-size:16px;
    color:red;
    line-height:50px;
    border-top:1px solid #ddd;
}
/*why-choice*/
.choice-reason{
    margin:0 auto;
    padding-bottom:50px;
    width:1200px;
}
.choice-reason ul li{
    float:left;
    width:25%;
    text-align:center;
}
.choice-reason ul li .icon{
    height:80px;
    background:url("../img/spread_icon_03.png") no-repeat;
}
.choice-reason ul li .icon.icon1{background-position:center 0}
.choice-reason ul li .icon.icon2{background-position:center -125px}
.choice-reason ul li .icon.icon3{background-position:center -252px}
.choice-reason ul li .icon.icon4{background-position:center -379px}
.choice-reason ul li .title{
    padding:10px 0;
    font-size:20px;
    color:red;
}
.choice-reason ul li .detail{
    color:#666;
}
/*实时数据区*/

#content .dongtaiArea {
    width: 100%;
    height: 330px;
    padding-bottom: 20px;
}

#content .dongtaiArea .wrap3 {
    width: 1200px;
    height: 330px;
    margin: 0 auto;
}

#content .media,
.company,
.newInvest {
    float: left;
    padding:0 20px;
    height:355px;
    background:#fff;
}
#content .media > li {
	margin-bottom: 10px;
}


/*媒体报道*/

#content .dongtaiArea .media .mediaTitle {
    font-size: 18px;
    width: 437px;
    height: 60px;
    line-height: 60px;
    color: #333;
    border-bottom: 1px solid #e0e0e0;
    font-weight: bold;
    margin-bottom: 20px;
}

#content .dongtaiArea .media .mediaTitle .more {
    float: right;
    font-size: 12px;
    color: #a6a6a6;
    font-weight: normal;
}

#content .dongtaiArea .media .mediaTitle .more  i, #content .dongtaiArea .newInvest .newInvestTitle .more i, #content .dongtaiArea .company .companyTitle .more i{
    margin-left:3px;
    margin-bottom: 2px;
}

#content .dongtaiArea .media .mediaInfo {
    width: 437px;
    height: 123px;
    border-bottom: 1px dashed #e5e5e5;
    margin-bottom: 15px;
}
#content .dongtaiArea .media .mediaInfo img{
	width:200px;
	height:110px;
}
#content .dongtaiArea .media .article {
    display: inline-block;
    height: 123px;
    margin-left: 10px;
    position: relative;
    width:224px;
}

#content .dongtaiArea .media .article h3 {
    font-weight: normal;
    font-size: 16px;
    color: #787878;
    overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

#content .dongtaiArea .media .article p {
    width: 180px;
    margin-top: 12px;
    font-size: 12px;
    color: #adadad;
}

#content .dongtaiArea .media .mediaText li {
    font-size: 14px;+
    color: #333;
    font-weight: bold;
    margin-bottom: 15px;
    clear: both;
}

#content .dongtaiArea .media .mediaText li a {
    font-size: 12px;
    color: #333;
    font-weight: normal;
    display: inline-block;
    margin-left: 2px;
}


/*公司动态*/

#content .dongtaiArea .company {
    margin-right:20px;
    width: 350px;
}

#content .dongtaiArea .company .companyTitle {
    font-size: 18px;
    width: 350px;
    height: 60px;
    line-height: 60px;
    color: #333;
    border-bottom: 1px solid #e0e0e0;
    font-weight: bold;
    margin-bottom: 20px;
}

#content .dongtaiArea .company .companyTitle .more {
    float: right;
    font-size: 12px;
    color: #a6a6a6;
    font-weight: normal;
}

#content .dongtaiArea .company .companyInfo {
    width: 350px;
    height: 123px;
    border-bottom: 1px dashed #e5e5e5;
    margin-bottom: 15px;
}

#content .dongtaiArea .company .companyText li {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin-bottom: 22px;
    clear: both;
    margin-bottom:22px\9;
    *margin-bottom:16px;
}
#content .dongtaiArea .company .companyText li.first i{
    display: inline-block;
    width: 34px;
    height: 16px;
    box-sizing: border-box;
    margin-left: 16px;
    background: url("../img/new.png") no-repeat right center;
    vertical-align: sub;
}

#content .dongtaiArea .company .companyText li a {
    font-size: 12px;
    color: #333;
    font-weight: normal;
    display: inline-block;
    margin-left: 20px;
}
#content .dongtaiArea .company .companyText li .time {
	font-size: 12px;
	color: #999999;
	font-weight: 500;
}


/*最新投资*/

#content .dongtaiArea .newInvest .newInvestTitle {
    font-size: 18px;
    width: 270px;
    height: 60px;
    line-height: 60px;
    color: #333;
    border-bottom: 1px solid #e0e0e0;
    font-weight: bold;
    margin-bottom: 20px;
}

#content .dongtaiArea .newInvest .newInvestTitle .more {
    float: right;
    font-size: 12px;
    color: #a6a6a6;
    font-weight: normal;
}

#content .dongtaiArea .newInvest .investScroll {
    height: 232px;
    overflow: hidden;
}

#content .dongtaiArea .newInvest .investList li {
    padding-bottom: 10px;
    width: 270px;
    height: 48px;
}

#content .dongtaiArea .newInvest .investInfo p {
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
}

#content .dongtaiArea .newInvest .investInfo .bid {
    color: #ef3e44;
    float: right;
}

#content .dongtaiArea .newInvest .investInfo .money {
    color: #ef3e44;
}

#content .dongtaiArea .newInvest .investInfo .time {
    color: #999;
    float: right;
}


/*乐商贷成就*/

#content .achievement {
    width: 100%;
    padding: 20px 0 30px 0;
    background: #fff;
    margin-top: 25px;
}

#content .achievement .achieveInfo {
    width: 1200px;
    margin: 0 auto;
}

#content .achievement .achieveInfo .rotate {
    position: relative;
    width: 1000px;
    height: 320px;
    left: 76px;
}

#content .achievement .achieveInfo h3 {
    color: #333;
    font-size: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ef3e44;
    margin-bottom: 40px;
}

#content .achievement .achieveList {
    width: 1000px;
    height: 320px;
    margin-left: 100px;
}

#content .achievement .achieveList li {
    float: left;
    width: 1000px;
    height: 320px;
    position: absolute;
    left: 100px;
    top: 0;
    outline: none;
}

#content .rotate .prevent-btn {
    position: absolute;
	left: -140px;
    background: url(../img/left.png) no-repeat center center;
    cursor: pointer;
   /*  opacity: 0.8; */
    width: 200px;
    box-sizing: border-box;
}

#content .rotate .next-btn {
    position: absolute;
    right: -120px;
    bottom: 0;
    background: url(../img/right.png) no-repeat center center;
    cursor: pointer;
    /* opacity: 0.8; */
    width: 40px;
}


/*合作伙伴*/

#content .wrap_1 {
    margin-top: 20px;
    width: 100%;
}

#content .wrap_1 .wrapArea {
    width: 1200px;
    margin: 0 auto;
    background:#fff;
}

#content .wrap_1 .wrapArea .partner h3 {
    font-size: 18px;
    color: #333;
    padding-bottom: 15px;
}

#content .wrap_1 .wrapArea .partner .partnerList li {
    float: left;
    padding: 0 10px 10px 0;
}
#content .wrap_1 .wrapArea .partner .partnerList li img {
	/* border: 1px solid #ccc; */
}

/*!*右侧工具栏*!

#content .rightNav {
    position: fixed;
    right: 30px;
    top: 50%;
    z-index: 999;
}

#content .rightNav li {
    cursor: pointer;
}

#content .rightNav .top {
    display: none;
}*/

