#main .content {
    margin-bottom: 189px;
    background-color: #fff;
}
#main .content .options{
    height: 73px;
    margin: 0 33px;
    border-bottom: 2px solid #e5e5e5;
}
#main .content .options div {
    display: inline-block;
    height: 73px;
    line-height: 73px;
    padding: 0 13px;
    font-size: 18px;
    margin-right: 70px;
    cursor: pointer;
    *float:left;
}
#main .content .options div a{
	display:inline-block;
}
#main .content .options div.current {
    border-bottom: 2px solid #ef3e44;
}
#main .content form.login {
    margin-top: 50px;
    margin-left: 228px;
}
#main .content form.login table tr td {
    font-size: 16px;
    text-align: right;
}
#main .content form.login table tr td.forget {
    height: 35px;
    text-align: right;
}
#main .content form.login table tr td.forget a{
    font-size: 14px;
    color: #999999;
}
#main .content form.login table tr.new td {
    padding-bottom: 25px;
    text-align: right;
}
#main .content form.login table tr.check td {
    padding-bottom: 70px;
}
#main .content form.login table tr td.first {
    text-align: right;
}
#main .content form.login table tr td input{
    width: 266px;
    height: 36px;
    border:1px solid #ef3e44;
    font-size: 14px;
    line-height: 36px;
}
#main .content form.login table tr.last td {
    text-align: center;
}
#main .content form.login table tr.last td input{
	border: none;
    width: 166px;
    height: 52px;
    background: url(../img/modify_button6.png);
    color: #ffffff;
    font-size: 18px;
    margin-left: 47px;
    margin-bottom: 228px;
    cursor: pointer;
}
#main .content .tips {
   background: #fde8e8 url(../img/wram_tips.png) no-repeat 62px 28px;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 99px;
    box-sizing: border-box;
    margin-bottom: 105px;
    margin-top: 20px;
}
#main .content .tips > div {
    font-size: 14px;
    margin-top: 5px;
    width: 600px;  
}
#main .content div.deal form.already_bind {
    margin-left: 222px;
    margin-top: 89px;
    font-size: 16px;
}
#main .content div.deal form.already_bind table tr td {
    padding-bottom: 45px;
}
#main .content div.deal form.already_bind table tr.message_identify td input{
    width: 162px;
    height: 36px;
    border:1px solid #ef3e44;
}
#main .content div.deal form.already_bind table .message_identify td span{
    width: 115px;
    height: 38px;
    background: #ef3e44;
    color: #ffffff;
    border-radius: 10px;
    line-height: 38px;
    text-align: center;
    display: inline-block;
    margin-left: -133px;
    cursor: pointer;
    display:block;
    *margin-left:0;
    *position:relative;
    *left:-133px;
}
#main .content div.deal form.already_bind table .message_identify td span.getcode_disable{
	background:#ccc;
}
#main .content div.deal form.already_bind table tr.new_pwd td input{
    width: 310px;
    height: 36px;
    border:1px solid #ef3e44;
    font-size: 14px;
}
#main .content div.deal form.already_bind table tr td:first-child{
    text-align: right;
}

#main .content div.deal form.already_bind table tr:first-child td:first-child{
    color: #999999;
}
#main .content div.deal form.already_bind table tr:first-child td:last-child{
    color: #333333;
}
#main .content div.deal form.already_bind table tr:last-child {
}
#main .content div.deal form.already_bind table tr td input[type=button] {
    width: 145px;
    height: 52px;
    font-size: 18px;
    background-color:#ef3e44;
    color: #ffffff;
    border-radius: 10px;
    line-height: 52px;
    margin-right: 126px;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}







